<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/page_parts/_head"></th:block>

<body>
<th:block th:include="/page_parts/_menu"></th:block>

<div class="site-body container">
        <h3>Пользователи</h3>
        <table class="table tbl-papers">
            <tr><th>Ид</th><th>Название</th></tr>
            <tr>
                <td th:text="${user.user_id}" />
                <td th:text="${user.user_name}" />
            </tr>
        </table>
</div>

</body>
<th:block th:include="/page_parts/_footer"></th:block>

</html>