<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/page_parts/_head"></th:block>

<body>
    <th:block th:include="/page_parts/_menu"></th:block>

    <div class="site-body">
        <div class="container">
            <div class="starter-template" align="center">
                <h1>Привеееет</h1>
                <h2>
                    <span th:text="'Message: ' + ${message}"></span>
                </h2>
            </div>
        </div>
    </div>

</body>
<th:block th:include="/page_parts/_footer"></th:block>
</html>