<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/page_parts/_head"></th:block>


<body>

    <th:block th:include="/page_parts/_menu"></th:block>

    <div class="site-body container">

        <h1>Войти</h1>

        <!-- /login?error=true -->
        <div th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            Вход не выполнен!!!<br />
            Почему :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                        Static summary
                 </span>

        </div>

        <h3>Введите имя пользователя и пароль:</h3>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <table>
                <tr>
                    <td>Логин:</td>
                    <td><input type='text' name='username' value=''></td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type='password' name='password' /></td>
                </tr>
                <tr>
                    <td>Запомнить меня?</td>
                    <td><input type="checkbox" name="remember-me" /></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
<th:block th:include="/page_parts/_footer"></th:block>

</html>