<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/page_parts/_head"></th:block>

<body>
    <th:block th:include="/page_parts/_menu"></th:block>

    <div class="site-body container">
            <h2>User Info Page</h2>
            <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
            <b>Эта страница видна только юзерам и админам</b>
        <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

    </div>

</body>
<th:block th:include="/page_parts/_footer"></th:block>

</html>